.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**
out/test/**
test-data/**
*.vsix
**/.eslintrc.json
**/*.map
**/*.ts
.gitignore
.prettierrc
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
esbuild.js
eslint.config.mjs
pnpm-lock.yaml
test-server.js
*.md
!README.md
