name: Package
on:
    workflow_call:
        inputs:
          version:
            description: 'Version of the plugin to build'
            default: "0.0.0"
            required: false
            type: string
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    package:
        name: Package
        runs-on: ubuntu-latest
        steps:
            # Check out current repository
            - name: Fetch Sources
              uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              with:
                version: 10

            - uses: actions/setup-node@v4
              with:
                node-version: 24
                cache: "pnpm"

            - name: Change version
              if: inputs.version != '0.0.0'
              run: pnpm version ${{ inputs.version }} --no-git-tag-version

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Build Project
              run: pnpm run build

            - name: Package VSIX
              run: pnpm run package

            # Upload plugin artifact
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  path: ./*.vsix
                  name: theia-credential-bridge-${{ inputs.version }}.vsix

